In [1]:
import numpy as np
import pandas as pd
import gzip

In [4]:
df = pd.read_csv('hosp/diagnoses_icd.csv.gz')

In [6]:
len(df['subject_id'].isin(pt_icu["subject_id"]))

4756326

In [3]:
df.head()

   subject_id   hadm_id  seq_num icd_code  icd_version
0    10000032  22595853        1     5723            9
1    10000032  22595853        2    78959            9
2    10000032  22595853        3     5715            9
3    10000032  22595853        4    07070            9
4    10000032  22595853        5      496            9

In [4]:
df.loc[1:3,'icd_code']

1    78959
2     5715
3    07070
Name: icd_code, dtype: object

In [5]:
df.subject_id.nunique()

180640

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4756326 entries, 0 to 4756325
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   subject_id   int64
 1   hadm_id      int64
 2   seq_num      int64
 3   icd_code     object
 4   icd_version  int64
dtypes: int64(4), object(1)
memory usage: 181.4+ MB

In [7]:
df.describe()

         subject_id       hadm_id       seq_num   icd_version
count  4.756326e+06  4.756326e+06  4.756326e+06  4.756326e+06
mean   1.499966e+07  2.500011e+07  8.421183e+00  9.418274e+00
std    2.878717e+06  2.888907e+06  6.555925e+00  4.932757e-01
min    1.000003e+07  2.000002e+07  1.000000e+00  9.000000e+00
25%    1.249952e+07  2.249706e+07  3.000000e+00  9.000000e+00
50%    1.499724e+07  2.500188e+07  7.000000e+00  9.000000e+00
75%    1.749634e+07  2.750289e+07  1.200000e+01  1.000000e+01
max    1.999999e+07  2.999993e+07  3.900000e+01  1.000000e+01

In [8]:
df.shape

(4756326, 5)

In [9]:
df.icd_code.unique()[0:101]

array(['5723', '78959', '5715', '07070', '496', '29680', '30981', 'V1582',
       '07071', '2875', '2761', 'V08', '3051', '07054', 'V462', '2767',
       '78791', '45829', '07044', '7994', 'V4986', '30500', 'G3183',
       'F0280', 'R441', 'R296', 'E785', 'Z8546', 'R4182', 'G20', 'R609',
       '5283', '52109', 'R1310', 'R0989', 'K31819', 'K219', 'K449',
       'F419', 'I341', 'M810', 'Z87891', 'S72012A', 'W010XXA', 'Y93K1',
       'Y92480', 'E7800', 'G43909', 'Z87442', 'Z7901', '9222', '920',
       'E8854', 'E8495', '2860', '2859', '6820', '1890', 'V1201', '42789',
       '25000', '4019', '66401', '65951', '64891', 'V270', 'V0251',
       '8020', '41071', '5849', '7802', '7847', '41401', '28860', '79902',
       '2724', '2720', '412', '4241', 'E8859', 'E8499', '4439', 'V5863',
       '5712', '486', '5990', '2639', '51189', '5711', '2768', '30391',
       '56409', '2819', '30000', '99591', '5119', '5710', '7242', '33829',
       '29633', '29620'], dtype=object)

In [11]:
df.columns

Index(['subject_id', 'hadm_id', 'seq_num', 'icd_code', 'icd_version'], dtype='object')

In [12]:
df.icd_version.unique()

array([ 9, 10])

# HFrEF ICD 9

In [10]:
print(df[df['icd_code'].str.startswith('4282')])
print(df[df['icd_code'].str.startswith('4282')].shape)
print(df[df['icd_code'].str.startswith('4282')].icd_code.unique())
print(df[df['icd_code'].str.startswith('4282')].nunique())

         subject_id   hadm_id  seq_num icd_code  icd_version
252        10000980  24947999        1    42823            9
330        10000980  26913865        2    42823            9
1180       10002155  23822395        3    42821            9
1220       10002155  28994087        4    42822            9
2626       10004235  24181354        9    42821            9
...             ...       ...      ...      ...          ...
4753544    19994379  21694878        3    42823            9
4753686    19994505  22534556        2    42822            9
4754686    19997293  20208898       18    42822            9
4754736    19997293  27119651        2    42823            9
4754764    19997293  28847872        4    42823            9

[12622 rows x 5 columns]
(12622, 5)
['42823' '42821' '42822' '42820']
subject_id      6177
hadm_id        12578
seq_num           21
icd_code           4
icd_version        1
dtype: int64

# HFrEF ICD 10

In [14]:
print(df[df['icd_code'].str.startswith('I502')])
print(df[df['icd_code'].str.startswith('I502')].shape)
print(df[df['icd_code'].str.startswith('I502')].icd_code.unique())
print(df[df['icd_code'].str.startswith('I502')].nunique())

         subject_id   hadm_id  seq_num icd_code  icd_version
308        10000980  25911675        2    I5023           10
355        10000980  29659838        1    I5023           10
1494       10002430  24648311        2    I5023           10
1516       10002430  26295318        1    I5023           10
2498       10003637  22082422        2    I5022           10
...             ...       ...      ...      ...          ...
4753574    19994379  23099193        9    I5023           10
4753608    19994379  27052619        9    I5022           10
4753647    19994379  27334101        9    I5023           10
4755110    19997473  27787494        3    I5023           10
4755302    19997911  25785472        2    I5022           10

[9165 rows x 5 columns]
(9165, 5)
['I5023' 'I5022' 'I5020' 'I5021']
subject_id     4836
hadm_id        9140
seq_num          24
icd_code          4
icd_version       1
dtype: int64

# HFpEF ICD 9

In [15]:
print(df[df['icd_code'].str.startswith('4283')])
print(df[df['icd_code'].str.startswith('4283')].shape)
print(df[df['icd_code'].str.startswith('4283')].icd_code.unique())
print(df[df['icd_code'].str.startswith('4283')].nunique())

         subject_id   hadm_id  seq_num icd_code  icd_version
279        10000980  25242409        7    42832            9
344        10000980  29654838        1    42833            9
631        10001877  21320596        1    42833            9
950        10002013  21975601        2    42832            9
970        10002013  23581541        2    42832            9
...             ...       ...      ...      ...          ...
4755413    19998330  23151993        1    42833            9
4755429    19998330  24096838        2    42833            9
4755446    19998330  24492004        2    42833            9
4755463    19998330  27282608        2    42832            9
4755736    19998591  24349193        5    42832            9

[15515 rows x 5 columns]
(15515, 5)
['42832' '42833' '42830' '42831']
subject_id      6962
hadm_id        15447
seq_num           24
icd_code           4
icd_version        1
dtype: int64

# HFpEF ICD 10

In [16]:
print(df[df['icd_code'].str.startswith('I503')])
print(df[df['icd_code'].str.startswith('I503')].shape)
print(df[df['icd_code'].str.startswith('I503')].icd_code.unique())
print(df[df['icd_code'].str.startswith('I503')].nunique())

         subject_id   hadm_id  seq_num icd_code  icd_version
232        10000980  20897796        2    I5033           10
574        10001667  22672901        2    I5030           10
605        10001843  21728396        2    I5031           10
926        10002013  21763296        6    I5032           10
1037       10002013  25442395        7    I5032           10
...             ...       ...      ...      ...          ...
4749874    19986341  27575763        2    I5030           10
4751595    19990366  24092667        2    I5030           10
4752031    19991359  26167234        3    I5032           10
4755096    19997448  23560173        3    I5030           10
4755181    19997752  29452285        5    I5030           10

[12423 rows x 5 columns]
(12423, 5)
['I5033' 'I5030' 'I5031' 'I5032']
subject_id      6140
hadm_id        12381
seq_num           29
icd_code           4
icd_version        1
dtype: int64

# ICD 9 and ICD 10

In [17]:
mask = (df['icd_code'].str.startswith('I503')) | (df['icd_code'].str.startswith('4283')| df['icd_code'].str.startswith('4282')|df['icd_code'].str.startswith('I502'))
result = df[mask]
print(result.head(100))
print(result.subject_id.nunique())

      subject_id   hadm_id  seq_num icd_code  icd_version
232     10000980  20897796        2    I5033           10
252     10000980  24947999        1    42823            9
279     10000980  25242409        7    42832            9
308     10000980  25911675        2    I5023           10
330     10000980  26913865        2    42823            9
...          ...       ...      ...      ...          ...
9211    10017851  23415994        2    42832            9
9221    10017851  29414705        5    42832            9
9258    10017886  26410956        2    42833            9
9338    10018081  25973915        1    42833            9
9390    10018328  23786647        3    I5031           10

[100 rows x 5 columns]
20189

In [18]:
mask = (df['icd_code'].str.startswith('I503')) | (df['icd_code'].str.startswith('4283'))
result = df[mask]
print(result.head(100))
print(result.subject_id.nunique())

       subject_id   hadm_id  seq_num icd_code  icd_version
232      10000980  20897796        2    I5033           10
279      10000980  25242409        7    42832            9
344      10000980  29654838        1    42833            9
574      10001667  22672901        2    I5030           10
605      10001843  21728396        2    I5031           10
...           ...       ...      ...      ...          ...
21788    10043646  23469038        4    42832            9
21809    10043646  25354589        1    42833            9
21826    10043646  27872010        2    42832            9
22285    10045960  24068884        3    I5033           10
22722    10046679  28668282       10    I5032           10

[100 rows x 5 columns]
12007

# NTPROBNP

In [4]:
df_lab = pd.read_csv('hosp/labevents.csv.gz')

In [5]:
df_lab.head()

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,1,10000032,NaN,45421181,51237,P28Z0X,2180-03-23 11:51:00,2180-03-23 15:15:00,1.4,1.4,NaN,0.9,1.1,abnormal,ROUTINE,NaN
1,2,10000032,NaN,45421181,51274,P28Z0X,2180-03-23 11:51:00,2180-03-23 15:15:00,___,15.1,sec,9.4,12.5,abnormal,ROUTINE,VERIFIED.
2,3,10000032,NaN,52958335,50853,P28Z0X,2180-03-23 11:51:00,2180-03-25 11:06:00,___,15.0,ng/mL,30.0,60.0,abnormal,ROUTINE,NEW ASSAY IN USE ___: DETECTS D2 AND D3 25-OH ...
3,4,10000032,NaN,52958335,50861,P28Z0X,2180-03-23 11:51:00,2180-03-23 16:40:00,102,102.0,IU/L,0.0,40.0,abnormal,ROUTINE,NaN
4,5,10000032,NaN,52958335,50862,P28Z0X,2180-03-23 11:51:00,2180-03-23 16:40:00,3.3,3.3,g/dL,3.5,5.2,abnormal,ROUTINE,NaN

In [6]:
df_lab_id = pd.read_csv('hosp/d_labitems.csv.gz')

In [7]:
df_lab_comp = pd.merge(df_lab, df_lab_id, on='itemid', how='left')

In [19]:
df_lab_comp.head()

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments,label,fluid,category
0,1,10000032,NaN,45421181,51237,P28Z0X,2180-03-23 11:51:00,2180-03-23 15:15:00,1.4,1.4,NaN,0.9,1.1,abnormal,ROUTINE,NaN,INR(PT),Blood,Hematology
1,2,10000032,NaN,45421181,51274,P28Z0X,2180-03-23 11:51:00,2180-03-23 15:15:00,___,15.1,sec,9.4,12.5,abnormal,ROUTINE,VERIFIED.,PT,Blood,Hematology
2,3,10000032,NaN,52958335,50853,P28Z0X,2180-03-23 11:51:00,2180-03-25 11:06:00,___,15.0,ng/mL,30.0,60.0,abnormal,ROUTINE,NEW ASSAY IN USE ___: DETECTS D2 AND D3 25-OH ...,25-OH Vitamin D,Blood,Chemistry
3,4,10000032,NaN,52958335,50861,P28Z0X,2180-03-23 11:51:00,2180-03-23 16:40:00,102,102.0,IU/L,0.0,40.0,abnormal,ROUTINE,NaN,Alanine Aminotransferase (ALT),Blood,Chemistry
4,5,10000032,NaN,52958335,50862,P28Z0X,2180-03-23 11:51:00,2180-03-23 16:40:00,3.3,3.3,g/dL,3.5,5.2,abnormal,ROUTINE,NaN,Albumin,Blood,Chemistry

In [25]:
df_lab_comp[(df_lab_comp['itemid'] == 50963) & (df_lab_comp['valuenum'] > 200)].head()

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments,label,fluid,category
5090,5099,10000935,25849114.0,55494709,50963,NaN,2187-10-11 06:25:00,2187-10-11 18:35:00,___,617.0,pg/mL,0.0,226.0,abnormal,ROUTINE,"REFERENCE VALUES VARY WITH AGE, SEX, AND RENAL...",NTproBNP,Blood,Chemistry
5917,5927,10000980,NaN,33821244,50963,NaN,2188-01-03 13:18:00,2188-01-03 14:42:00,___,4571.0,pg/mL,0.0,624.0,abnormal,STAT,"REFERENCE VALUES VARY WITH AGE, SEX, AND RENAL...",NTproBNP,Blood,Chemistry
6206,6216,10000980,NaN,46753637,50963,NaN,2189-06-27 06:48:00,2189-06-27 07:56:00,___,2826.0,pg/mL,0.0,624.0,abnormal,STAT,"REFERENCE VALUES VARY WITH AGE, SEX, AND RENAL...",NTproBNP,Blood,Chemistry
6891,6902,10000980,NaN,88477575,50963,NaN,2190-11-06 16:00:00,2190-11-06 18:12:00,___,4279.0,pg/mL,0.0,624.0,abnormal,STAT,"REFERENCE VALUES VARY WITH AGE, SEX, AND RENAL...",NTproBNP,Blood,Chemistry
7582,7593,10000980,NaN,77976228,50963,NaN,2191-05-30 12:40:00,2191-05-30 13:55:00,___,6440.0,pg/mL,0.0,624.0,abnormal,STAT,"REFERENCE VALUES VARY WITH AGE, SEX, AND RENAL...",NTproBNP,Blood,Chemistry

In [8]:
ntprobnp_pt = df_lab_comp[(df_lab_comp['itemid'] == 50963) & (df_lab_comp['valuenum'] > 200)]

In [16]:
print(np.unique(ntprobnp_pt.subject_id))
print(len(np.unique(ntprobnp_pt.subject_id)))

[10000935 10000980 10001401 ... 19997576 19997886 19998330]
22018

In [29]:
print(ntprobnp_pt.flag.value_counts())

abnormal    47321
Name: flag, dtype: int64

# ECHOCHARDIOGRAPHY

In [ ]:
df_procedure = pd.read_csv('hosp/procedures_icd.csv.gz')

In [ ]:
df_procedure_id = pd.read_csv('hosp/d_icd_procedures.csv.gz')

In [ ]:
df_procedure.columns

In [ ]:
df_procedure_id.columns

In [ ]:
df_proc = pd.merge(df_procedure, df_procedure_id, on=['icd_code', 'icd_version'], how='left')

In [ ]:
df_proc.head(20)
df_proc.value_counts()

In [ ]:
df_proc.long_title.unique()

In [ ]:
df_proc.icd_code = df_proc.icd_code.astype(str)

ECHOCARDIOGRAPHY ICD 9 = 37.28 ICD 10 = A57182

NTPROBNP = 337626

In [ ]:
df_proc[df_proc.icd_code.str.startswith('B24')]

In [ ]:
df_proc[df_proc.long_title.str.contains('echo')].subject_id.unique()
echo_pt_id = df_proc[df_proc.long_title.str. contains('echo')].subject_id.unique()
print(echo_pt_id)
print(len(echo_pt_id))

In [ ]:
df_proc.icd_version.dtypes

# ICU POPULATION

In [5]:
pt_icu = pd.read_csv('icu/icustays.csv.gz')

In [ ]:
pt_icu.head()

In [ ]:
icu_echo_nt_mask = pt_icu[pt_icu.subject_id.isin(echo_pt_id)&pt_icu.subject_id.isin(ntprobnp_pt)&pt_icu.subject_id.isin(result.subject_id.unique())].subject_id.unique()

In [ ]:
len(icu_echo_nt_mask)

In [ ]:
df_lab_comp[df_lab_comp.subject_id.isin(icu_echo_nt_mask)]

# merging ICU and other tables

In [ ]:
df_lab_proc = pd.merge(df_proc, df_lab_comp, on=['subject_id','hadm_id'], how='inner')

In [ ]:
1+1

# Finding EF and proBNP values

In [2]:
item_list = pd.read_csv("icu/d_items.csv.gz")

In [15]:
chart_events = pd.read_csv("icu/chartevents.csv.gz")

In [3]:
item_list.head()

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
0,220001,Problem List,Problem List,chartevents,General,NaN,Text,NaN,NaN
1,220003,ICU Admission date,ICU Admission date,datetimeevents,ADT,NaN,Date and time,NaN,NaN
2,220045,Heart Rate,HR,chartevents,Routine Vital Signs,bpm,Numeric,NaN,NaN
3,220046,Heart rate Alarm - High,HR Alarm - High,chartevents,Alarms,bpm,Numeric,NaN,NaN
4,220047,Heart Rate Alarm - Low,HR Alarm - Low,chartevents,Alarms,bpm,Numeric,NaN,NaN

In [21]:
chart_events.head()

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
0,10000032,29079034,39553978,47007.0,2180-07-23 21:01:00,2180-07-23 22:15:00,220179,82,82.0,mmHg,0.0
1,10000032,29079034,39553978,47007.0,2180-07-23 21:01:00,2180-07-23 22:15:00,220180,59,59.0,mmHg,0.0
2,10000032,29079034,39553978,47007.0,2180-07-23 21:01:00,2180-07-23 22:15:00,220181,63,63.0,mmHg,0.0
3,10000032,29079034,39553978,47007.0,2180-07-23 22:00:00,2180-07-23 22:15:00,220045,94,94.0,bpm,0.0
4,10000032,29079034,39553978,47007.0,2180-07-23 22:00:00,2180-07-23 22:15:00,220179,85,85.0,mmHg,0.0

In [7]:
chart_events.shape

(313645063, 11)

In [4]:
item_list[item_list.label.str.lower().str.contains('pulmonary artery')].head()

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
11,220059,Pulmonary Artery Pressure systolic,PAPs,chartevents,Hemodynamics,mmHg,Numeric,15.0,25.0
12,220060,Pulmonary Artery Pressure diastolic,PAPd,chartevents,Hemodynamics,mmHg,Numeric,8.0,15.0
13,220061,Pulmonary Artery Pressure mean,PAPm,chartevents,Hemodynamics,mmHg,Numeric,10.0,20.0
14,220063,Pulmonary Artery Pressure Alarm - High,PAP Alarm - High,chartevents,Alarms,mmHg,Numeric,NaN,NaN
15,220066,Pulmonary Artery Pressure Alarm - Low,PAP Alarm - Low,chartevents,Alarms,mmHg,Numeric,NaN,NaN

In [14]:
item_list[item_list.label.str.lower().str.contains('')].head()

Empty DataFrame
Columns: [itemid, label, abbreviation, linksto, category, unitname, param_type, lownormalvalue, highnormalvalue]
Index: []

In [19]:
chart_events[chart_events['itemid']==227008].head()

Empty DataFrame
Columns: [subject_id, hadm_id, stay_id, caregiver_id, charttime, storetime, itemid, value, valuenum, valueuom, warning]
Index: []

In [9]:
sum(chart_events['itemid']==227008)

0

In [13]:
item_list[item_list['itemid']==220179]

,itemid,label,abbreviation,linksto,category,unitname,param_type,lownormalvalue,highnormalvalue
24,220179,Non Invasive Blood Pressure systolic,NBPs,chartevents,Routine Vital Signs,mmHg,Numeric,NaN,NaN

In [12]:
chart_events[chart_events['itemid']==220179].head()

,subject_id,hadm_id,stay_id,caregiver_id,charttime,storetime,itemid,value,valuenum,valueuom,warning
0,10000032,29079034,39553978,47007.0,2180-07-23 21:01:00,2180-07-23 22:15:00,220179,82,82.0,mmHg,0.0
4,10000032,29079034,39553978,47007.0,2180-07-23 22:00:00,2180-07-23 22:15:00,220179,85,85.0,mmHg,0.0
10,10000032,29079034,39553978,66056.0,2180-07-23 19:00:00,2180-07-23 19:59:00,220179,93,93.0,mmHg,0.0
21,10000032,29079034,39553978,66056.0,2180-07-23 20:00:00,2180-07-23 21:01:00,220179,90,90.0,mmHg,0.0
163,10000032,29079034,39553978,88981.0,2180-07-23 14:11:00,2180-07-23 14:17:00,220179,84,84.0,mmHg,0.0

In [14]:
sum(chart_events['itemid']==227179)

0

In [ ]:
chart_with_item_name = pd.merge(chart_events, item_list[['itemid', 'label']], on=['itemid'], how='left')

In [ ]:
head(chart_with_item_name)